#container, #container div.row, #container div.row div.col-md-8 {height: 100%; overflow:hidden;}
#container div.col-md-8 video#player {max-height:70%;background-color:black;}
#gainBar {display:none;}

@media (max-width:768px) {
    #container, #container div.col-md-8 video#player {
        height: 100%;
    }
}